.container-about {
  height: 94vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-about h1 {
  margin-bottom: 2%;
}

.container-about h3 {
  margin-bottom: 10%;
}