.container-message {
  margin: 0 auto;
  margin-top: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fefefe;
  width: 25%;
  padding: 40px 20px;
  border-radius: 25px;
}

.message {
  margin: 10px;
  font-size: 1.2rem;
  background-color: transparent;
}

.message a {
  background-color: transparent;
  color: #007bff;
}