.container-home .container-content {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  height: 100vh;
}

.container-content .container-main {
  width: 86%;
  background-color: #fefefe;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
}

.container-main .container-tasks {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  overflow-y: scroll;
  width: 65%;
  height: 100vh;
}

.container-main .container-tasks .box-btn-task {
  margin-left: auto;
}

.container-main .container-tasks .btn-newtask {
  margin-top: 10px;
  margin-right: 10px;
  width: 100px;
  height: 30px;
  border-radius: 10px;
  background-color: #28a745;
  color: #fefefe;
  cursor: pointer;
  transition: .2s;
  font-size: .9rem;
}

.container-main .container-tasks .btn-newtask:hover {
  background-color: #1c7530;
}

.container-main .container-tasks .btn-newtask:active {
  background-color: #2cc650;
}

.container-main .container-tasks::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
}

.container-main .container-tasks::-webkit-scrollbar-thumb {
  background-color: rgba(235, 222, 235, 0.933);
  border-radius: 10px;
}

.container-main .container-tasks .task {
  // margin: 20px 10px;
  // padding: 20px 50px;
  margin: 20px 0;
  padding: 20px 0;
  width: 75%;
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(235, 222, 235, 0.933);
  background-color: rgba(252, 252, 252, 0.933);
  border-radius: 15px;
  transition: .5s;
  word-break: break-all;
}

.container-main .container-tasks .task:hover {
  border: 1px solid rgba(248, 157, 248, 0.933);
  box-shadow: 1px 1px 1px rgba(128, 128, 128, 0.933);
}

.container-tasks .task .about {
  margin-top: 0;
  margin-left: 20px;
  width: 90%;
  height: 100%;
}

.container-tasks .task .about h3, .info {
  margin: 20px 0;
}

.container-tasks .task .about h3 {
  font-size: 1.3rem;
}

.container-tasks .task .about .info {
  // width: 50%;
}

.container-tasks .task .about .info-desc {
  font-size: .9rem;
}

.container-tasks .task .about .info-date {
  font-size: .8em;
}

.container-tasks .task .box-button {
  width: 15%;
  display: flex;
  justify-content: space-around;
  margin-left: auto;
}

.container-tasks .task .box-button .btn {
  margin: 10px 0;
  border-radius: 15px;
  color: #fefefe;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: .5s;
}

.container-tasks .task .box-button .btn:hover {
  scale: 1.1;
}

.container-tasks .task .box-button .btn:active {
  scale: .9;
}

.container-tasks .task .box-button .btn-edit {
  background-color: #ffc107;
  font-size: .9rem;
  width: 30px;
  height: 30px;
}

.container-tasks .task .box-button .btn-delete {
  background-color: #dc3545;
  font-size: 1.2rem;
  width: 30px;
  height: 30px;
}

@media (max-width: 1200px) {
  .container-home {
    height: 100vh;
  }

  .container-content .container-main {
    flex-direction: column;
    width: 80%;
    margin: auto 0;
    margin-left: auto;
  }

  .container-main .container-tasks {
    width: 80%;
  }

  .container-main .container-tasks .task {
    width: 95%;
    justify-content: space-between;
  }

  .container-tasks .task .about {
    margin-left: 30px;
  }

  .container-tasks .task .box-button {
    margin-right: 30px;
  }
}

@media (max-width: 768px) {
  .container-main .container-tasks {
    width: 100%;
  }

  .container-tasks .task .about {
    width: 80%;
  }

  .container-tasks .task .box-button {
    width: 90%;
    justify-content: flex-end;
    margin: 0 20px;
  }

  .container-tasks .task .box-button .btn {
    margin: 0 20px;
  }
}

@media (max-width: 468px) {
  
}