.navbar {
  display: flex;
  justify-content: flex-end;
  background-color: #fefefe;
  border-bottom: 1px solid #d0d2d3
}

.navbar a {
  margin: 10px;
  font-size: 1.25rem;
  text-decoration: none;
  background-color: transparent;
  transition: .2s;
}

.navbar .home {
  margin-top: 11px;
  font-size: 1.4rem;
}

.navbar .home svg {
  background-color: transparent;
}

.navbar .home:hover,
a:hover {
  opacity: .7;
}

.navbar a:nth-last-child(1) {
  margin-right: 2rem;
}


.logged-navbar, .navbar-hamburger {
  background-color: #fefefe;
  width: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

.logged-navbar .item, .navbar-hamburger .item {
  margin: 15px 0;
  font-size: 1.1rem;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
}

.navbar-hamburger {
  background-color: transparent;
}

.btn-close-navbar {
  margin-top: 20px;
  width: 30px;
  height: 30px;
  font-size: 1.5rem;
  background-color: red;
  color: #fefefe;
  border-radius: 20px;
}

.logged-navbar .item svg {
  width: 25px;
  height: 25px;
  margin-bottom: 5px;
  color: #ffff;
}

.logged-navbar .item:hover {
  opacity: .6;
}

#logged-hamburger {
  display: none;
}

@media (max-width: 468px) {
  .logged-navbar {
    display: none;
  }

  #logged-hamburger {
    display: block;
    position: fixed;
    font-size: 1.1rem;
    background-color: transparent;
    transition: .2s;
  }

  #logged-hamburger:active {
    scale: 1.1;
  }
}

@media (max-width: 768px) {
  .logged-navbar {
    width: 80px;
  }
}

@media (max-width: 1200px) {
  .logged-navbar {
    // padding: 20px;
    position: fixed;
  }
}