.footer {
  background-color: #fefefe;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer p {
  font-size: 1.1rem;
}

.logged-footer {
  margin-top: 5%;
  background-color: #fefefe;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logged-footer p {
  font-size: 1.1rem;
}